{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "exclude": ["@babel/plugin-transform-regenerator"]
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-modules-umd"
  ]
}
