{
  "extends": ["plugin:react/recommended", "prettier-standard"],
  "plugins": ["react"],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "16.4.2"
    }
  },
  "env": {
    "browser": true
  }
}
